{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_transaction' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Edit Transaction</span></h5>
                        </div>
                       {% include 'includes/messages.html' %}
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Transaction's Name</label>
                                <input type="text" class="form-control" name="Name" value="{{transaction.Name}}" required>
                                <input type="text" class="form-control" name="TransactionID" value="{{transaction.TransactionID}}" required hidden>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Transaction's Date</label>
                                <input type="date" class="form-control" name="date" value="{{transaction.date|date:'Y-m-d' }}" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea type="text" class="form-control" name="description" value="" required>{{transaction.description}}</textarea>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Update Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}