{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_product' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Update Product</span></h5>
                        </div>
                       {% include 'includes/messages.html' %}

                       <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" class="form-control" name="ProductName" value="{{product.ProductName}}" required>
                            <input type="text" class="form-control" name="ProductID" value="{{product.ProductID}}" hidden>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Classes</label>
                            <select class="form-control" name="ClassID" required>
                                <option>Select Class</option>   
                                {% for cls in classes %}                             
                                <option value="{{ cls.ClassID }}" {% if cls.ClassID == product.Classes.ClassID %}selected{% endif %}>{{ cls.ClassName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Product Category</label>
                            <select class="form-control" name="ProductCategoryID" required>
                                <option>Select Product Category</option>   
                                {% for pc in pcat %}                             
                                <option value="{{ pc.ProductCategoryID }}" {% if pc.ProductCategoryID == product.ProductCategory.ProductCategoryID %}selected{% endif %}>{{ pc.ProductCategoryName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Product Code</label>
                            <input type="text" class="form-control" name="ProductCode" value="{{product.ProductCode}}" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Barcode</label>
                            <input type="file" class="form-control" name="Barcode">
                            <p>Current Barcode: <a href="{{ product.Barcode.url }}">{{ product.Barcode.url }}</a></p>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Options</label>
                            <select class="form-control" name="OptionID" required>
                                <option>Select Options</option>    
                                {% for op in opt %}                            
                                <option value="{{ op.OptionID }}" {% if op.OptionID == product.Options.OptionID %}selected{% endif %}>{{ op.OptionName }}</option>
                                {% endfor %}
                            </select>   
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Category 1</label>
                            <select class="form-control" name="CategoryOneID" required>
                                <option>Select Category One</option>
                                {% for co in cone %}                                
                                <option value="{{ co.CategoryOneID }}" {% if co.CategoryOneID == product.CategoryOne.CategoryOneID %}selected{% endif %}>{{ co.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Category 2</label>
                            <select class="form-control" name="CategoryTwoID" required>
                                <option>Select Category Two</option>                                
                                {% for ct in ctwo %}                                
                                <option value="{{ ct.CategoryTwoID }}" {% if ct.CategoryTwoID == product.CategoryTwo.CategoryTwoID %}selected{% endif %}>{{ ct.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Category 3</label>
                            <select class="form-control" name="CategoryThreeID" required>
                                <option>Select Category Three</option>      
                                {% for cth in cthree %}                          
                                <option value="{{ cth.CategoryThreeID }}" {% if cth.CategoryThreeID == product.CategoryThree.CategoryThreeID %}selected{% endif %}>{{ cth.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Category 4</label>
                            <select class="form-control" name="CategoryFourID" required>
                                <option>Select Category Four</option>        
                                {% for cf in cfour %}                        
                                <option value="{{ cf.CategoryFourID }}" {% if cf.CategoryFourID == product.CategoryFour.CategoryFourID %}selected{% endif %}>{{ cf.Name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>SalesPrice</label>
                            <input type="text" class="form-control" name="SalesPrice" value="{{product.SalesPrice}}" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Cost Price</label>
                            <input type="text" class="form-control" name="CostPrice" value="{{product.CostPrice}}" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Comission Rate</label>
                            <input type="text" class="form-control" name="CommissionRate" value="{{product.CommissionRate}}" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Maximum Price</label>
                            <input type="text" class="form-control" name="MaxPrice" value="{{product.MaxPrice}}" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Minimum Price</label>
                            <input type="text" class="form-control" name="MinPrice" value="{{product.MinPrice}}" required>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Per Box Pieces</label>
                            <input type="text" class="form-control" name="PerBoxPiece" value="{{product.PerBoxPiece}}" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Marketing Maximum Price</label>
                            <input type="text" class="form-control" name="MarketingMaxPrice" value="{{product.MarketingMaxPrice}}" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Marketing  Minimum Price</label>
                            <input type="text" class="form-control" name="MarketingMinPrice" value="{{product.MarketingMinPrice}}" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Per Bora Pieces</label>
                            <input type="text" class="form-control" name="PerBoraPiece" value="{{product.PerBoraPiece}}" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Admin Maximum Price</label>
                            <input type="text" class="form-control" name="AdminMaxPrice" value="{{product.AdminMaxPrice}}" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Admin  Minimum Price</label>
                            <input type="text" class="form-control" name="AdminMinPrice" value="{{product.AdminMinPrice}}" required>
                        </div>
                    </div>

                    
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label>Product Image</label>
                            <input type="file" class="form-control" name="ProductImage">
                            <p>Current Image: <a href="{{ product.ProductImage.url }}">{{ product.ProductImage.url }}</a></p>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" class="form-control" name="Description" value="" required>{{product.Description}}</textarea>
                        </div>
                    </div>

                    <br><br>

                    <div class="col-12 col-sm-12">
                        <div class="form-group">
                            <h3>Production Details</h3>
                        </div>
                    </div>

                    <br><br>

                    <!-- <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Province</label>
                            <select class="form-control" name="ProvinceID" required>
                                <option>Select Province</option>
                                {% for prov in province %}
                                <option value="{{prov.ProvinceID}}">{{prov.ProvinceName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                       </div>

                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">City</label>
                            <select class="form-control" name="CityID" required>
                                <option>Select City</option>
                                {% for city in cit %}
                                <option value="{{city.CityID}}">{{city.CityName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                       </div>

                       <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Area</label>
                            <select class="form-control" name="AreaID" required>
                                <option>Select Area</option>
                                {% for are in area %}
                                <option value="{{are.AreaID}}">{{are.AreaName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                       </div>

                       <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Type</label>
                            <select class="form-control" name="CustTypeID" required>
                                <option>Select Type</option>
                                {% for custtyp in custtype %}
                                <option value="{{custtyp.CustTypeID}}">{{custtyp.Name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                       </div> -->

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Gata</label>
                                <input type="text" class="form-control" name="Gata" value="{{product.Gata}}" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Title Material</label>
                                <input type="text" class="form-control" name="TitleMaterial" value="{{product.TitleMaterial}}" required>
                            </div>
                        </div>

                           <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Aster</label>
                                <input type="text" class="form-control" name="Aster" value="{{product.Aster}}" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Inner Material</label>
                                <input type="text" class="form-control" name="InnerMaterial" value="{{product.InnerMaterial}}" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Pages / Sheets</label>
                                <input type="text" class="form-control" name="PagesSheet" value="{{product.PagesSheet}}" required>
                            </div>
                        </div>

                        
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Printing / Roling Color</label>
                                <input type="text" class="form-control" name="PrintingRollingColor" value="{{product.PrintingRollingColor}}" required>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}