{% extends 'base.html' %} {% block content %}

<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Area</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Area</li>
        </ul>
      </div>
      <div class="col-auto text-right float-right ml-auto">
        <a href="{% url 'add_area' %}" class="btn btn-primary"
          ><i class="fas fa-plus"></i
        ></a>
      </div>
    </div>
  </div>
  {% include 'includes/messages.html' %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive table-bordered">
            <table id="table_id" class="table table-hover table-center mb-0">
              <thead>
                <tr>
                  <th>City</th>
                  <th>Area</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for ar in area %}
                <tr>
                  <td>{{ar.City}}</td>
                  <td>{{ar.AreaName}}</td>
                  <td class="text-right">
                    <div class="actions">
                      <a href="{% url 'edit_area' ar.AreaID %}"class="btn btn-sm bg-success-light mr-2" id="text">
                        <i class="fas fa-pen"></i>
                      </a>
                      <a href="{% url 'delete_area' ar.AreaID %}" class="btn btn-sm bg-danger-light">
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
